<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>二手书系统导航</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h2>📚 欢迎使用二手书系统</h2>
  <ul>
    <li><a href="/register">注册新用户</a></li>
    <li><a href="/books_page">查看图书列表</a></li>
    <li><a href="/add_book">发布图书</a></li>
    <li><a href="/orders">查看订单</a></li>
    <li><a href="/delete_order">删除订单</a></li>
    <li><a href="/delete_book">删除图书</a></li>
    <li><a href="/book_types_view">图书分类</a></li>
    <li><a href="/update_user">修改个人信息</a></li>
    <li><a href="/delete_user">删除用户</a></li>
    <li><a href="/update_order">修改订单状态</a></li>
    <li><a href="/update_price">修改图书价格</a></li>
    <li><a href="/update_book_basic">修改图书标题与分类</a></li>
    <li><a href="/books_by_type">按分类查看图书</a></li>
    <li><a href="/all_types">查看所有图书分类</a></li>
    <li><a href="/user_info">查询用户信息</a></li>
  </ul>
</body>
</html>
